<div class="modal fade" id="ModalAccount" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{"Create new account"|translate}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="frmCreateAccount">
          <div class="form-outline mb-4">
            <label for="accountName">{{"Name"|translate}} </label>
            <input [(ngModel)]="newAccount.accountName"
                   id="accountName"
                   class="form-control"
                   name="accountName"
                   formControlName="accountName" />
            <small class="form-text text-danger"
                   *ngIf="frmCreateAccount.controls['accountName'].hasError('required') && frmCreateAccount.controls['accountName'].touched">
              {{"Required"|translate}}
            </small>
          </div>
          <div class="form-outline mb-4">
            <label for="type">{{"Type of account"|translate}} </label>
            <select class="form-select"
                    [(ngModel)]="newAccount.accountType"
                    id="accountType"
                    name="accountType"
                    formControlName="accountType">
              <option *ngFor="let status of accountTypes" [value]="status.Id">{{status.Name}}</option>
            </select>
            <small class="form-text text-danger"
                   *ngIf="frmCreateAccount.controls['accountType'].hasError('required') && frmCreateAccount.controls['accountType'].touched">
              {{"Required"|translate}}
            </small>
          </div>
          <div class="form-outline mb-4" *ngIf="newAccount.accountType==2">
            <label for="date">{{"Save until"|translate}} </label>
            <input type="date"
                   [(ngModel)]="newAccount.saveUntil"
                   id="saveUntil"
                   name="saveUntil"
                   class="form-control"
                   [min]="today"
                   formControlName="saveUntil" />
            <small class="form-text text-danger"
                   *ngIf="frmCreateAccount.controls['saveUntil'].hasError('required') && frmCreateAccount.controls['saveUntil'].touched">
              {{"Required"|translate}}
            </small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="submit()">{{"Create"|translate}}</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{"Close"|translate}}</button>
      </div>
    </div>
  </div>
</div>

