.btn-register {
  width: 20%;
  height: 5%;
  background: #5864FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1em;
  color: white;
  position: fixed;
  bottom: 30px;
  right: 40%;
  z-index: 7;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

.scroll-top:hover {
  color: #fff;
  background: rgba(88, 100, 255, 0.8);
}
