<div class="container">
  <div class="row">
    <div class="col-12">
      <form class="form-floating">
        <div class="row mb-3">
          <div class="col">
            <label for="userUpdatename" class="form-label">{{"Username"|translate}}</label>
            <input type="text" readonly id="userUpdatename" name="userUpdatename" class="form-control" [(ngModel)]="userUpdate.UserName" />
          </div>
          <div class="col">
            <label for="email" class="form-label">{{"Email"|translate}}</label>
            <input type="text" readonly class="form-control" id="email" name="email" [(ngModel)]="userUpdate.Email" />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="firstName" class="form-label">{{"First Name"|translate}}</label>
            <input type="text" readonly id="firstName" name="firstName" class="form-control" [(ngModel)]="userUpdate.FirstName" />
          </div>
          <div class="col">
            <label for="lastName" class="form-label">{{"Last Name"|translate}}</label>
            <input type="text" readonly class="form-control" id="lastName" name="lastName" [(ngModel)]="userUpdate.LastName" />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="address" class="form-label">{{"Address"|translate}}</label>
            <input type="text" readonly id="address" name="address" class="form-control" [(ngModel)]="userUpdate.Address" />
          </div>
          <div class="col">
            <label for="income" class="form-label">{{"Income"|translate}}</label>
            <input type="number" readonly class="form-control" id="income" name="income" [(ngModel)]="userUpdate.Income" />
          </div>
        </div>
        <div *ngIf="editable">
          <div *ngIf="check;then button;else buttons"></div>
        </div>
        
      </form>
    </div>
  </div>
</div>
<ng-template #button>
  <div class="row mb-3">
    <div class="col-12 col-md-4">
      <button class="btn btn-primary" type="button" (click)="reset()">{{"Update"|translate}}</button>
    </div>
  </div>
</ng-template>
<ng-template #buttons>
  <div class="row mb-3">
    <div class="col">
      <button class="btn btn-primary" type="button" (click)="submit()">{{"Confirm"|translate}}</button>
      <button class="btn btn-secondary ms-2" type="button" (click)="reset()">{{"Cancel"|translate}}</button>
    </div>
    
  </div>

</ng-template>
