<section id="us" class="feature-extended-section pt-100">
  <div class="feature-extended-wrapper">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xxl-5 col-xl-6 col-lg-8 col-md-9">
          <div class="section-title text-center mb-60">
            <h2 class="mb-25 wow fadeInUp" data-wow-delay=".2s">
              {{title}}
            </h2>
            <p class="wow fadeInUp" data-wow-delay=".4s">
              {{text}}
            </p>
          </div>
        </div>
      </div>

      <div class="row ">
        <div class="col-lg-4 col-md-6 d-flex justify-content-center" >
          <app-feature-extended src="/assets/img/logo/logo.png" title="IES Trassierra" text="mu mono"></app-feature-extended>
        </div>
        <div class="col-12 col-lg-4 col-md-6 d-flex justify-content-center">
          <app-feature-extended src="/assets/img/logo/sergibelgo.png" title="Sergio Beltran" text="mu mono"></app-feature-extended>
        </div>
        <div class="col-lg-4 col-md-6 d-flex justify-content-center">
          <app-feature-extended src="/assets/img/logo/atmira.png" title="Atmira" text="mu mono"></app-feature-extended>
        </div>
      </div>
    </div>
  </div>
</section>
