<div class="modal fade" id="ModalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{"Update account name"|translate}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="frmUpdate">
          <div class="form-outline mb-4">
            <label for="accountName">{{"Name"|translate}} </label>
            <input 
                   id="accountName"
                   class="form-control"
                   name="accountName"
                   [value]="activeAccount.Name"
                   formControlName="accountName" />
            <small class="form-text text-danger"
                   *ngIf="frmUpdate.controls['accountName'].hasError('required') && frmUpdate.controls['accountName'].touched">
              {{"Required"|translate}}
            </small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="submit()">{{"Update"|translate}}</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{"Close"|translate}}</button>
      </div>
    </div>
  </div>
</div>

