<div class="modal fade" id="ModalActiveLoan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{activeLoan.LoanName}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <label for="id">{{"Id"|translate}} </label>
          <input readonly [value]="activeLoan.Id" id="id" class="form-control" />
        </div>
        <div>
          <label for="ammount">{{"Ammount requested"|translate}} </label>
          <input readonly [value]="activeLoan.Ammount" id="ammount" class="form-control" />
        </div>
        <div>
          <label for="interestrate">{{"Interest rate"|translate}} </label>
          <input readonly [value]="activeLoan.InterestRate" id="interestrate" class="form-control" />
        </div>
        <div>
          <label for="LoanType">{{"Loan type"|translate}} </label>
          <input readonly [value]="activeLoan.LoanType" id="LoanType" class="form-control" />
        </div>
        <div>
          <label for="TotalInstallments">{{"Total installments"|translate}} </label>
          <input readonly [value]="activeLoan.TotalInstallments" id="TotalInstallments" class="form-control" />
        </div>
        <div>
          <label for="LoanStatus">{{"Loan Status"|translate}} </label>
          <input readonly [value]="activeLoan.LoanStatus" id="LoanStatus" class="form-control" />
        </div>
        <div *ngIf="activeLoan.LoanStatus=='Aproved'">
          <div>
            <label for="remainingammount">{{"Remaining ammount"|translate}} </label>
            <input readonly [value]="activeLoan.RemainingAmmount" id="remainingammount" class="form-control" />
          </div>
          <div>
            <label for="RemainingInstallments">{{"Remaining installments"|translate}} </label>
            <input readonly [value]="activeLoan.RemainingInstallments" id="RemainingInstallments" class="form-control" />
          </div>
          <div>
            <label for="startDate">{{"Start Date"|translate}} </label>
            <input readonly [value]="activeLoan.StartDate|date" id="startDate" class="form-control" />
          </div>
          <div>
            <label for="endDate">{{"End Date"|translate}} </label>
            <input readonly [value]="activeLoan.EndDate|date" id="endDate" class="form-control" />
          </div>
          <div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{"Close"|translate}}</button>
      </div>
    </div>
  </div>
</div>

