<section>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="row">
        <div class=" col-lg-6 p-2">
          <div class="">
            <img src="/assets/img/logo/logoFondo.png"
                 alt="logo" class="logo-lg">
          </div>
        </div>
        <div class="col-lg-6 p-2">
          <div class="card">
            <app-form-login></app-form-login>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
