<div class="d-none position-fixed d-md-block w-100 top-0 bg-color">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg  navbar-dark">
    <!-- Container wrapper -->
    <div class="container-fluid ms-5 me-5 ">
      <!-- Navbar brand -->
      <p class="navbar-brand">TrasBank</p>

      <!-- Icons -->
      <ul class="navbar-nav d-flex flex-row me-1">
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link text-white" href="javascript:void(0)" [title]="'Accounts'|translate" (click)="changeIndex(0)"><i class="lni lni-credit-cards"></i> <span class="ms-2 d-md-none d-lg-inline">{{"Accounts"|translate}}</span></a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link text-white" href="javascript:void(0)"[title]="'Transactions'|translate" (click)="changeIndex(1)"><i class="lni lni-arrows-horizontal"></i> <span class="ms-2 d-md-none d-lg-inline">{{"Transactions"|translate}}</span></a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link text-white" href="javascript:void(0)" [title]="'Loans'|translate" (click)="changeIndex(2)"><i class="lni lni-coin"></i> <span class="ms-2 d-md-none d-lg-inline">{{"Loans"|translate}}</span></a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link text-white"[ngClass]="{'pulse':readed$|async}" href="javascript:void(0)" [title]="'Messages'|translate" (click)="changeIndex(3)"><i class="lni lni-envelope"></i> <span class="ms-2 d-md-none d-lg-inline">{{'Messages'|translate}}</span></a>
        </li>
        <li class="d-md-none d-lg-block">
          <app-dropdown-menu [username]="username" [checkM]="checkM"></app-dropdown-menu>
        </li>
        <li class="d-md-block d-lg-none">
          <app-dropdown-menu [dropType]="'dropstart'" [checkM]="checkM"></app-dropdown-menu>
        </li>
      </ul>
    </div>

    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</div>
