<div class="container min-vh-50">
  <div class="row">
    <div class="col-12 col-sm-6">
      <app-loan-form></app-loan-form>
    </div>
    <div class="col-12 col-sm-6">
      <app-loan-preview></app-loan-preview>
    </div>
  </div>
  <div class="row">
    <div class="col-12 overflow-auto">
      <table datatable [dtOptions]="dtOptions" class="row-border hover table" id="datatableId" [dtTrigger]="dtTrigger" (window:resize)="updateDataTable()">
        <thead>
          <tr>
            <th>Id</th>
            <th>{{"Loan type"|translate}}</th>
            <th>{{"Amount"|translate}}</th>
            <th>{{"Loan status"|translate}}</th>
            <th>{{"Short loan description"|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let loan of loans">
            <td>
              {{loan.Id}}
            </td>
            <td>
              {{loan.LoanType}}
            </td>
            <td>
              {{loan.Ammount}}
            </td>
            <td>
              {{loan.LoanStatus|translate}}
            </td>
            <td>{{loan.LoanName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-show-card></app-show-card>
