<div class="container min-vh-50">
  <div class="row">
    <div class="col-12 col-sm-6">a</div>
    <div class="col-6 d-none d-md-block">b</div>
  </div>
  <div class="row">
    <div class="col-12">
      <table datatable [dtOptions]="dtOptions" class="row-border hover table" id="datatableId" [dtTrigger]="dtTrigger" (window:resize)="updateDataTable()">
        <thead>
          <tr>
            <th>Id</th>
            <th>{{"Type of loan"|translate}}</th>
            <th>{{"Ammount"|translate}}</th>
            <th>{{"Loan Status"|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let loan of loans">
            <td>
              {{loan.Id}}
            </td>
            <td>
              {{loan.LoanType}}
            </td>
            <td>
              {{loan.Ammount}}
            </td>
            <td>
              {{loan.LoanStatus}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
